name: Build and Publish GT Frontend Docker Image

on:
  push:
    branches:
      - main
      - dev

jobs:
  build-local:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v3

      - name: Use Node 16.16.0 LTS
        uses: actions/setup-node@v3
        with:
          node-version: 16.16.0

      - name: Install NPM packages
        run: npm install

      - name: Build the React Application
        run: CI=false DISABLE_ESLINT_PLUGIN=true npm run build --if-present 

      - name: Set up Docker Buildx
        id: buildx
        uses: docker/setup-buildx-action@v2

      - name: Login to Github Container Registry
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GHCR_PAT }}

      - name: Build and push the docker image to Github Container Registry
        uses: docker/build-push-action@v3
        with:
          context: .
          file: {context}/Dockerfile.local
          push: true
          tags: ghcr.io/globex-trading/gt-front-end:1.0.0.local



